*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

canvas{
    background-color: black;
}
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}